@model Aminity
<div class="container-fluid">
    <h3>Edit</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="edit" method="post">
                    <div class="form-group">
                        <label asp-for="Icon">Icon</label>
                        <input asp-for="Icon" type="text" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="Icon"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>